@charset "UTF-8";
/* 
 * Soan Pro: Library for rendering modern Japanese text using old movable type
 * https://dev.2sc1815j.net/soan/
 * 
 * Copyright 2023 Jun HOMMA (@2SC1815J)
 */
@media (min-width: 576px) {
  .soan-pro-header {
    writing-mode: vertical-rl;
    max-width: 62px;
    border-bottom: none !important;
  }
  .soan-pro-image {
    width: 30px;
  }
  .soan-pro-main-column {
    background-image: url('wave.png');
    background-repeat: no-repeat;
    background-position: top right;
    max-width: 900px;
  }
}